<%= form_with(model: produto) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "erro impede",plural: "erros impedem") %> esse produto de ser salvo:</h2>

      <ul>
        <% produto.errors.each do |error| %>
          <li>
          <% if error.attribute == :qtd%>
            <%= error.full_message.sub! "Qtd", "Quantidade" %>
          <% else %>
            <%= error.full_message %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>
 

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :qtd, "Quantidade" %>
    <%= form.number_field :qtd %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
