<p id="notice"><%= notice %></p>

<h1>Produtos a venda</h1>

<table>

  <tbody>
    <% @produtos.each do |produto| %>
          <div class="produtos">
            <h3><%= produto.nome %></h3>
            <p><%= produto.descricao %></p>
            <h4>Valor: <%= produto.valor %></h4>
            <button type="button" class="btn btn-danger ">Comprar</button>
            <div style="display: inline-block; top: 10px;">
              <span><%= link_to 'Ver', produto, class: "btn1 btn-light " %></span>
              <span><%= link_to 'Editar', edit_produto_path(produto), class: "btn1 btn-light " %></span>
              <span><%= link_to 'Deletar', produto, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn1 btn-light " %></span>

            </div>
  
          </div>

    <% end %>
  </tbody>
</table>
<br>

<div class="btn">
  <%= paginate @produtos, window: 2 %>  
</div>

<br>
<%= link_to 'Adicionar Produto', new_produto_path, class: "btn btn-info " %>


<button class="btn btn-info" type="button" onclick="javascript: location.href='<%= relatorio_produtos_path(format: "pdf") %>';"><i class="fa fa-file-text-o  "></i> Gerar Relatório</button>
